<div class="col-md-2 sidebar">

        <h3>
            <i class="fa-solid fa-user"></i>
            Employee
        </h3>

        <hr>
        <a href = "/employees/dashboard" >
            <i class="fa-solid fa-house"></i>
            Dashboard
        </a>

        <a href = "/employees/profile" >
            <i class="fa-solid fa-address-card"></i>
            My Profile
        </a>

        <a href="/employees/employee_logout">
            <i class="fa-solid fa-right-from-bracket"></i>
            Logout
        </a>

    </div>